.body {
	    background: #fff;
	    border: 1px solid #d4d4d4;
	    min-height: 300px;
	    max-height: 600px;
	    max-width: 1190px;
	    overflow:  hidden;
	}
	.structManage {
	    min-width: 220px;
	    height:600px;
	    border-right: 1px solid #D2D2D2;
	    background: #f4f7fa;
	    float: left;
	}
	.c_nav {
	    background: #d9e3ec;
	    height: 32px;
	}
	.c_nav a.on {
	    font-weight: bold;
	    color: #000;
	    border-bottom: 1px solid #F4F7FA;
	    background: #f4f7fa;
	    position: relative;
    }
    .c_nav a:nth-child(2) {
    	border-right: 1px solid #d9e3ec;
	}
	.c_nav a {
	    display: inline-block;
	    width: 109px;
	    border-bottom: 1px solid #D2D2D2;
	    height: 32px;
	    text-align: center;
	    color: #666666;
	    line-height: 32px;
	}
	.layui-icon{
		width:5%;
	}
	.click{
		width:100%;
		height:26px;
		line-height: 26px;
		cursor:pointer;
	}
	.click:hover{
		background-color: #E8F2FA;
	}
	
	
	.accountListPanel {
	    margin-left: 220px;
	    padding: 20px 10px 0px 20px;
	    background: #fff;
	    min-height: 700px;
	}
	.con_head{
		height:65px;
		border-bottom:solid 1px #ccc;
	}
	.con_head .con_head_title{
		font-weight:bold;
		font-size:18px;
		margin-bottom: 10px;
	}
	.con_head p{
		color:#3164A2;
		font-size:12px;
	}
	.con_head span{
		cursor: pointer;
	}
	.con_body{
	
	}
	