<aside class="Hui-aside">
	
	<div class="menu_dropdown bk_2">
		<dl id="menu-home">
			<dt><i class="Hui-iconfont">&#xe616;</i> 
				<a href="/" title="首页">首页</a>
			</dt>
		</dl>
		<dl id="menu-leave">
			<dt><i class="Hui-iconfont">&#xe613;</i> 请假管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/leave/task" title="图片管理">待办任务</a></li>
					<li><a href="/leave/list" title="图片管理">请假单</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-workflow">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 工作流管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/workflow/processList" title="系统设置">流程列表</a></li>
				</ul>
			</dd>
		</dl>		
		<dl id="menu-user">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/user" title="角色管理">用户管理</a></li>
					<li><a href="/group" title="角色管理">用户组(角色)管理</a></li>
					<li><a href="/membership" title="权限管理">用户-组 关联</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="system-base.html" title="系统设置">系统设置</a></li>
					<li><a href="system-category.html" title="栏目管理">栏目管理</a></li>
					<li><a href="system-data.html" title="数据字典">数据字典</a></li>
					<li><a href="system-shielding.html" title="屏蔽词">屏蔽词</a></li>
					<li><a href="system-log.html" title="系统日志">系统日志</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>